/* Base css */


@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Zilla+Slab:300,300i,400,400i,500,500i,600,600i,700,700i&subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese');

img{
	max-width: 100%;
	height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
margin: 0 0 15px;
font-weight: 700;
}
a:hover, a:focus{
    text-decoration: none;
}
input:focus, button:focus, textarea:focus{
    outline: none;
}
body{
	font-family: 'Noto Sans', sans-serif;
	color: #888888;
}
h1, h2, h3, h4, h5, h6, input[type=submit], button[type=submit]{
	font-family: 'Zilla Slab', serif;
}
a:hover{
    text-decoration: none;
}
.section-padding{
	padding: 100px 0;
    background-size: cover;
    background-position: center;
  

}
.slide-bg-1{
	background-image: url(../img/slide-bg-1.jpg);
}
.services-bg:before{
    background-image: url(../img/service-bg.jpg);
}
.section-bg-1{
    background-image: url(../img/section-bg.jpg);
}
.margin-bottom-80{
    margin-bottom: 80px 0;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    margin-top: 13px;
}

.header-area a, .search-icon {
    color: #333;
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu li {
    display: inline-block;
    position: relative;
}

.main-menu li a {
    display: block;
    padding: 16px;
}

.header-area {
    font-family: 'Zilla Slab', serif;
    font-size: 16px;
    font-weight: 700;
}


.single-slide-item {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

.single-slide-item:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: -1;
    opacity: .66;
}

.slide-text, .slide-text a {
    color: #fff;
    font-size: 16px;
}
.slide-text{
	padding: 160px 0;
}

.slide-text h2 {
    font-size: 60px;
}

.slide-text h2 span {
    font-weight: 300;
    font-style: italic;
}



.video-btn {
    display: block;
    position: relative;
    margin: 30px 0;
}


.play-icon {
    background: #22bbc0;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
    height: 60px;
    width: 60px;
    line-height: 55px;
}

.boxed-btn {
	background: #22bbc0;
	font-family: 'Zilla Slab', serif;
	font-weight: 700;
	padding: 15px 40px;
	display: inline-block;
	border-radius: 50px;
}



.header-area.header-absulate {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}

.header-area.header-absulate a, .header-absulate .search-icon {
    color: #fff;
}
.search-icon {
    margin-top: 23px;
    display: inline-block;
}
.owl-carousel .owl-item .slide-text img {
    width: auto;
    display: inline-block;
}

.homepage-slides .owl-nav div {
    left: 8%;
    color: #fff;
    top: 50%;
    position: absolute;
    font-size: 22px;
    margin-top: -20px;
    line-height: 40px;
}

.homepage-slides .owl-nav div.owl-next {
    left: auto;
    right: 8%;
    margin-top: -30px;
    line-height: 40px;
}
.section-padding {
    padding: 100px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #000;
    line-height: 1.3;
}

body {
    line-height: 1.8;
}

.single-promo-box {
    margin-top: 30px;
    text-align: center;
}

.prom-icon {
    font-size: 25px;
    color: #22bbc0;
    margin-bottom: 12px;
}

.single-promo-box h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.space-90 {
    height: 90px;
}

.tile-gallery {
    position: relative;
   height: 675px;
   margin-left: 30px;
}

.tile-gallery img {
    border-radius: 5px;
    box-shadow: 3px 4px 9px #d4d4d4;
    position: relative;
    z-index: 1;
}

.tile-gallery img:nth-child(2) {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 2;
}

.tile-gallery img:nth-child(3) {
    position: absolute;
    left: 27px;
    bottom: 0;
    z-index: 3;
}
.single-service-item {
    position: relative;
    padding-left: 100px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: block;
    color: #888;
}

.service-icon {
    width: 85px;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    color: #22bbc0;
    font-size: 30px;
    text-align: center;
}

.single-service-item
 h3 {
    font-size: 20px;
}

.single-service-item:hover {
    background-color: #22bbc0;
    color: #fff;
}

.single-service-item:hover h3, .single-service-item:hover .service-icon {
    color: #fff;
}



.single-service-item:hover:after {
    position: absolute;
    left: 100%;
    top: 0;
    width: 50000%;
    height: 100%;
    content: "";
    background-color: #22bbc0;
}

.services-bg {
    overflow: hidden;
    position: relative;
}

.services-bg:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 51.12%;
    height: 100%;
    content: "";
}
.service-icon-table {
    display: table;
    height: 100%;
    width: 100%;
}

.service-icon-tablecell {
    display: table-cell;
    vertical-align: middle;
}
.single-skilled-ber {
   
    text-align: center;
}
.single-skilber-inner{
     position: relative;
}

.skill-count-no {
    font-size: 48px;
    font-weight: 700;
    color: #333;
    position: absolute;
    left: 0%;
    top: 50%;
    line-height: 50px;
    margin-top: -25px;
    width: 100%;
}
.single-skilber-inner h3 {
    margin-top: 27px;
}

.single-skilled-ber h3 {
    font-size: 24px;
    margin-top: 25px;
}

.single-skilled-ber {
    margin-top: 50px;
}
.black-overlay, .black-overlay h1, .black-overlay h4, .black-overlay .boxed-btn {
    color: #fff;
}
.section-padding {background-size: cover;background-position: center;}

.black-overlay {
    position: relative;
    z-index: 2;
}

.black-overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: .7;
}
.portpholio-bg-1{
    background-image: url(../img/portpholio1.jpg);

}
.portpholio-bg-2{
 background-image: url(../img/portpholio2.jpg);
}
.portpholio-bg-3{
 background-image: url(../img/portoholio3.jpg);
}
.portpholio-bg-4{
 background-image: url(../img/portpholio4.jpg);
}
.space-70{
    margin-top: 70px;
}
.no-padding-top{
    padding-top: 0;

}
.single-portpholio-item {
    height: 310px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    margin: 15px 0;
    box-shadow: 4px 4px 5px #f1f1f1;
}

.portpholio-hover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    font-size: 20px;
    transition: .2s;
    opacity: 0;
    visibility: hidden;
}

.portpholio-hover:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: .7;
}

.portpholio-hover-table {
    height: 100%;
    width: 100%;
    display: table;
}

.portpholio-hover-table-cell {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}



.portpholio-hover h4, .portpholio-hover a {
    color: #fff;
}

.portpholio-hover h4 {
    font-size: 20px;
    margin: 10px;
    margin-bottom: 0;
}

.single-portpholio-item:hover .portpholio-hover {
    opacity: 1;
    visibility: visible;
}



.single-portpholio-item.large {
    height: 650px;
}
.single-team-item {
    background: #fbfbfb;
    padding: 30px;
    text-align: center;
}



.owl-carousel .owl-item .single-team-item img {
    width: auto;
    display: inline-block;
}

.single-team-item img {
    border-radius: 50%;
}

.single-team-item h4
 span {
    display: block;
    color: #DDDDDD;
    font-size: 14px;
    font-weight: normal;
    font-family: inherit;
    margin-top: 10px;
}

.single-team-item h4 {
    margin: 30px 0 25px;
}
.owl-dots div {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #eeeeee;
    display: inline-block;
    margin: 4px;
}

.owl-dots {
    text-align: center;
    margin-top: 30px;
}

.owl-dots div.active {
    background-color: #22bbc0;
}
.section-bg-2{
    background-image: url(../img/background-02.jpg);
}
.testimonial-list {
    margin-top: 70px;
}

.single-testimonial-item {
    background: #fff;
    color: #000;
    font-weight: 700;
    padding: 30px;
    font-size: 16px;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    font-style: italic;
}

.testimonial-icon {
    color: #0bbbc1;
    font-size: 20px;
    margin-bottom: 20px;
}

.testimonial-icon h5 {margin-top: 25px;
    margin-bottom: 10;
}



.single-testimonial-item h5 span {
    display: block;
    font-weight: normal;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 4px;
    font-size: 12px;
}
.owl-carousel .owl-item .single-logo-item img {
    width: auto;
  margin: 0 auto;
}

.single-logo-item {
    display: table;
    width: 100%;
    height: 70px;
}
.logo-item-inner {
    display: table-cell;
    width: 100%;
    vertical-align: middle;

}
.footer-area {
    background: #f5f5f5;
    padding: 80px 0;
}

.footer-area ul {
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 2;
    margin-top: 10px;
}

.footer-area ul a {
    color: #000;
}

.footer-area h3 {
    font-size: 20px;
    margin-top: 20px;
}

.social-links a {
    height: 40px;
    width: 40px;
    border: 1px solid #333;
    display: inline-block;
    color: #333;
    border-radius: 50%;
    text-align: center;
    margin-right: 2px;
    line-height: 38px;
    font-size: 17px;
}
.social-links a:hover {
    background: #0bbbc1;
    border-color: #0bbbc1;
    color: #fff;
}
.logo-carousel {
    margin: -30px 0;
}

/*-------*/
.hero-area{
background-image: url(../img/hero-img01.jpg);
}
.hero-area {
    background-size: cover;
    background-position: center;
    background-color: #000;
    padding-top: 180px;
    padding-bottom: 130px;
}
.hero-text {
    font-size: 16px;
    color: #fff;
    margin-top: 120px;
}

.hero-text h2 {
    line-height: 45px;
    font-size: 45px;
    color: #fff;
    margin-bottom: 22px;
}

.register-now-form {
    background: #fff;
    padding: 60px;
    border-top: 10px solid #0bbbc1;
}

input, button, textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
}

input[type=submit], button[type=submit] {
    width: auto;
    border: none;
    background: #0bbbc1;
    color: #fff;
    font-weight: 700;
}

.register-now-form p {
    margin-bottom: 22px;
}

.register-now-form h3 {
    margin-top: -10px;
    margin-bottom: 50px;
}

.register-now-form p:last-child {
    margin-bottom: 0;
}

.register-now-form input[type=submit] {
    width: 100%;
}

.register-now-form h3
 span {
    color: #e60909;
}
.section-gray-bg {
    background-color: #fbfbfb;
}

.tricker-text {
    background: #303030;
    color: #fff;
    padding: 5px 30px;
    display: inline-block;
    border-radius: 50px;
}
.margin-80 {
    margin: 80px 0;
}

.service-box .service-icon {
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 45px;
    height: 70px;
    line-height: 70px;
}

.service-box h3 {
    font-size: 20px;
    margin: 20px 0;
}

.service-box:hover {
    background: #fafafa;
}

.service-box {
    margin-bottom: 50px;
    padding: 30px 20px;
}
.margin-20 {
    margin: 20px 0;
}

.theme-2 .single-team-item {
    box-shadow: 0 0 8px #f1f1f1;
    margin: 4px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.single-team-item:hover {
    box-shadow: 0 0 0;
    border: 1px solid #0bbbc1;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}

.single-blog-box {
    box-shadow: 0 0 8px #f1f1f1;
    padding: 25px;
}

.single-blog-box a {
    color: #0bbbc1;
}

.single-blog-box a i.fa {
    padding-left: 5px;
}

.single-blog-box h3 {
    font-size: 18px;
}

.footer-area.dark-bg {
    background: #131313;
}

.footer-area.dark-bg, .footer-area.dark-bg a, .footer-area.dark-bg
 h3 {
    color: #fff;
}



.dark-bg .social-links a {
    border-color: #fff;
}
.section-bg-3{
    background-image: url(../img/1.jpg);
}
/*....*/
.team-list{
    margin-top: 70px;
}
.section-gray-bg{

background-image: url(../img/about-overlay.jpg);
background-size: cover;
background-position: center;
}
 .breadcrome-area-bg-1{
    background-image: url(../img/about-bg.jpg);

 }
 .breadcrome-area {
    padding-top: 180px;
    padding-bottom: 130px;
}

.breadcrome-area, .breadcrome-area a {
    color: #fff;
}

.breadcrome-area h2 {
    font-size: 36px;
    color: #fff;
}



.breadcrome-area i.fa {
    padding: 0 7px;
}

.service-icon-2 {
    font-size: 40px;
    margin-bottom: 20px;
}